/*Symbols*/

body {
  font-family: 'Lora', Times, Times New Roman, serif;
  font-weight: 400;
  font-size: 1rem;
  color: #171717;
  -webkit-font-smoothing: antialiased;
}

.logo {
  display: block;
  margin: auto;
  width: 138px;
  height: 10px;
}

.button {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.125rem;
  border: solid 1px #171717;
}

.button-primary {
  background-color: #171717;
  color: #ffffff;
}

.button-secondary {
  background: transparent;
  color: #171717;
}


/* Product Page */

.minus-rem {
  padding-bottom: -.5rem;
  padding-right: -.5rem;
}

.product-header {
  padding: 1rem;
  border-bottom: 1px solid #c6c6c6;
}

@media screen and (min-width: 48rem) {
  .product-header {
    padding: 1.5rem;
  }
}

.product-title {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@media screen and (min-width: 48rem) {
  .product-title {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.product-gallery {
  display: flex;
  overflow-x: scroll;
  margin-left: -1rem;
  margin-right: -1rem;
}

.product-gallery img {
  flex-shrink: 0;
  width: auto;
  height: 400px;
}

@media screen and (min-width: 48rem) {
  .product-gallery {
    margin-top: 0.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .product-gallery img {
    height: 576px;
  }
}

.product-data {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

@media screen and (min-width:48rem) {
  .product-data {
    margin-top: 0.5rem;
    margin-left: 0rem;
    margin-right: -.5rem;
  }
}

.product-data-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-data-info__price {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin: 0;
}

.product-data-info__articul {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
}

.product-data-current-color {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 1rem 0;
}

.product-data-buttons-color {
  display: flex;
}

.product-data-buttons-color__black {
  background-color: #000000;
  border: solid 1px #000000;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  font-size: 0;
  margin-right: 1rem;
}

.product-data-buttons-color__honey {
  background-color: #cfa880;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  font-size: 0;
  margin-right: 1rem;
}

.product-data-buttons-color__active {
  border: solid 1px #232122;
}

.product-data-buttons {
  display: flex;
  flex-flow: column;
}

.product-data-seporator {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid #c6c6c6;
}

.product-data-buttons__button-transparent {
  margin-top: 1.5rem;
  background: transparent;
  padding: 0;
  text-align: left;
  border: none;
}

.accordion {
  border-bottom: 1px solid #c6c6c6;
}

.accordion,
.accordion-open {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border-top: 1px solid #c6c6c6;
}

@media screen and (min-width: 48rem) {
  .accordion {
    border-top: none;
    border-bottom: none;
    padding: 0rem 1rem 1rem;
  }
}

@media screen and (min-width: 48rem) {
  .accordion-open {
    border-top: none;
    padding: 1.5rem 1rem 3rem;
  }
}

.accordion__title {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0;
}

.accordion__button {
  display: flex;
  flex-basis: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: baseline;
  border: none;
  outline: none;
  background: transparent;
}

.accordion:after {
  position: absolute;
  content: url(../media/triangle.svg);
  right: 1rem;
}

@media screen and (min-width: 48rem) {
  .accordion:after {
    display: none;
  }
}

.accordion-open:after {
  position: absolute;
  content: url(../media/triangle.svg);
  right: 1rem;
  transform: rotate(180deg);
}

@media screen and (min-width: 48rem) {
  .accordion-open:after {
    display: none;
  }
}

.accordion__content {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 2rem;
}

@media screen and (min-width:48rem) {
  .accordion__content {
    padding-top: 1rem;
  }
}

.accordion__content ul,
.accordion__content p,
.accordion__content li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion-delivery__img {
  display: none;
}

@media screen and (min-width:48rem) {
  .accordion-delivery__img {
    display: block;
    width: auto;
    height: 324px;
    margin-left: -.5rem;
    object-fit: contain;
  }
}

@media screen and (min-width:64rem) {
  .accordion-delivery__img {
    height: 422px;
  }
}

.accordion-delivery {
  display: none;
}

@media screen and (min-width:48rem) {
  .accordion-delivery {
    display: flex;
    flex-basis: 100%;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-right: -.5rem;
  }
}

.accordion-delivery__content {
  margin-bottom: 1.5rem;
}

.accordion-delivery__title {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0;
  padding-bottom: 0.25rem;
}

.accordion-delivery__text {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
}

.product-recommendations {
  padding-right: 1rem;
  padding-left: 1rem;
}

.product-recommendations-more {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (min-width:48rem) {
  .product-recommendations-more {
    display: none;
  }
}

.product-recommendations__title,
.product-recommendations-more__title {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: inline-block;
}

.product-recommendations__title {
  margin-top: 3rem;
}

@media screen and (min-width:48rem) {
  .product-recommendations {
    margin-left: -.5rem;
    margin-right: -.5rem;
  }
}

.product-recommendations-more__title {
  margin-bottom: 0.5rem;
}

.product-recommendation-card {
  display: block; 
  margin-bottom: 2rem;
}

.product-recommendation-card__img {
  display: block;
  width: 100%;
}

.product-recommendation-card__name {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #171717;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.product-recommendation-card__price {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-align: left;
  color: #999999;
  margin: 0;
}

.product-recommendations-more__links {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 3.5rem;
}

.product-recommendations-more__name {
  font-weight: 400i;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Footer*/

.product-footer {
  background-color: #f3f3f3;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:48rem) {
  .product-footer {
    padding: 2rem 0rem;
  }
}

.footer-links {
  display: none;
}

@media screen and (min-width:48rem) {
  .footer-links {
    display: flex;
    flex-direction: row;
  }
}

.footer-links__block {
  display: block;
}

.footer-links-names {
  display: flex;
  flex-direction: column;
}

.footer-links__title {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: left;
  background-color: red;
  margin-bottom: 1rem;
}

.footer-links__name {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: left;
  line-height: 1rem;
  color: #999999;
  background-color: red;
  margin-bottom: 0.75rem;
}

@media screen and (min-width:48rem) {
  .footer-info { 
    flex-direction: row;
  }
}

@media screen and (min-width:48rem) {
  .footer-help {
    display: none;
  }
}

.footer-info__button-transparent {
  display: block;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: left;
  line-height: 1rem;
  color: #999999;
  background: transparent;
  padding: 0;
  border: none;
  margin-bottom: 1rem;
}

.footer-help__title {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.footer-help__button-transparent {
  display: block;
  font-family: 'Lora', 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  background: transparent;
  border: none;
}
